* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43,44,50);
}


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 26px -16px rgba(0,0,0,0.75);
    z-index: 1000;
    
}

.brand-title {
    font-size: 1rem;
    margin:  0.5rem 0.5rem 0.5rem 4rem;
    height: 3rem;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 100%;
}

#searchBar {
    border-radius: 1rem;
    width: 15rem;
    height: 2rem;
    padding-left: 1rem;
    margin-left: 2rem;
}

.idSelector {
    width: 6rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#selector{
    height: 80%;
    width: 10rem;
}

.navbar-links ul {
    margin: 0.5rem 2rem 0.5rem;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 0.5rem;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: red;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Navbar Media Queary */


@media (max-width: 800px) {
    .brand-title {
        color: white;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: black;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        color: white;
    }

    .navbar-links.active {
        display: flex;
    }
}


/* Search Movie section */



#movieSearcher {

    margin-top: 4rem;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
}

#showSelection {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.description {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 1rem;
}

.rate{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}


.overview p{
    text-align: justify;
}

.titlePicture {
    text-align: center;
    width: 55rem;
    height: 15rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 1rem;
    background: rgba(248, 249, 250, 0.178);
    border-radius: 0.5rem;
    
}

.titlePicture img{
    height: 100%;
    border-radius: 0.5rem;
}

.title {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;;
    margin-left: 3rem;
}

/* Main Container and shared classes*/

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

#moviesContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 3rem;
}

.spaceContainer {
    margin-top: 4rem;
    display: flex;
    height: 1rem;
}

.movieRender {
    display: flex;
    flex-direction: row;
    height: 18rem;
}

.movieRender img {
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    vertical-align: top;
}

.movieRender img.hover {
    transform: scale(1.2);
    transform-origin: center;
}



.movieCollection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
    flex-direction: column;
    
}

.movieCollection img {
    height: 90%;
}


.titleCollection {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 17rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleCollection div {
    margin-top: 0.5rem;
}

.titleSection {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: end;

}


/* indicators */

.indicators button {
    background-color: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.indicators button:hover, 
.indicators button.activo {
    background-color: red;
}

/* carousel */


.leftArrow,
.rightArrow {
    position: absolute;
    border: none;
    background-color: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.leftArrow:hover,
.rightArrow:hover {
    background-color: rgba(0,0,0,0.9);;
}

.leftArrow {
    left: 0;
}

.rightArrow {
    right: 0;
}

.filmContainer {
    display: flex;
    align-items: center;
    position: relative;
    
}

.carouselContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
}

.carousel {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}



/* ----- Media Queries ----- */

/* @media screen and (max-width: 800px) {

    .carouselContainer {
        overflow: visible;
    }
    
    .carousel {
        display: grid;
    }
    .movieRender {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px
    }

    .movieCollection {
        display: grid;
        height: 10rem;
    }

    #moviesContainer {
        margin-bottom: 50rem;
    }

    .indicators,
    .leftArrow,
    .rightArrow {
        display: none;
    }

} */